<div class="container p-5">

</div>
<h3>Inicia sesión en la Aplicación</h3>
<div class="image">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card">
          <div class="card-header">
            Inicio de sesión
          </div>
          <div class="card-body">
            <form (submit)="signIn()">
              <div class="form-group">
                <input  type="text" [(ngModel)]="user.name" name="NombreUsuario" class="form-control" placeholder="Nombre de usuario" required #nameInput/>
              </div>
              <div class="form-group">
                <input  type="password" [(ngModel)]="user.password" name="Contrasena" class="form-control" placeholder="Contraseña" required #passwordInput/>
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                Enviar
              </button>
            </form>
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>