<div class="container p-5">

</div>

<h3>Edita la Ruta</h3>

<div class="image">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card">
          <div class="card-header">
            Edición de la ruta
          </div>
          <div class="card-body">
            <form (ngSubmit)="updateRoute()">
              <div class="form-group">
                <label for="pathName">Nombre de la Ruta</label>
                <input type="text" class="form-control" id="pathName" [(ngModel)]="pathName" name="pathName">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="share" [(ngModel)]="shared" name="share">
                <label class="form-check-label" for="share">Compartir Ruta</label>
              </div>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

